$itemBackgroundColor: #ffffff;
$mainBackgroundColor: #2a9e63;
$addItemColor: #126139;
$deviceWidth: 150px;
$deviceHeight: 225px;
$devicePadding: 10px;
$buttonGradientFromColor: rgb(79, 230, 112);
$buttonGradientToColor: rgb(24, 122, 46);
